@charset "UTF-8";
body{
    background:#AAA;
    color:#000;
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:0;
    padding:0;
    text-align:center;
    font-size:medium !important;
    line-height:normal !important;
}
p{
    line-height:140%;
}
a{
    color:#99649C;
    text-decoration:none;
}
a img{
    border:none;
}
a:visited{
    color:#99649C;
}
a:hover{
    text-decoration:underline;
}
#rap{
    width:730px;
    margin:30px auto;
    background:#DAE8AE;
    padding:0 15px;
    border:10px solid #99649C;
}
#header{
    text-transform:uppercase;
    margin:15px 0 30px 0;
    padding:1px;
    height:160px;
    background-image:url(images/quentin-head.gif);
    background-repeat:no-repeat;
    background-position:center bottom;
}
#header h1{
    font:150% Georgia, "Times New Roman", Times, serif;
    margin:40px 0 5px 0;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:0.2em;
    color:#99649C;
}
#content{
    background:url(images/quentin-bg2.gif) repeat-y right top;
    text-align:left;
    float:left;
    width:470px;
    margin:0;
    padding:0 15px 15px 15px;
}
#content h2.storytitle{
    font:italic 150% Georgia, "Times New Roman", Times, serif;
    text-align:center;
    margin:15px 0 5px 0;
    color:#99649C;
}
#content img.pmark{
    margin:0 auto 50px auto;
    display:block;
}
#menu{
    text-align:left;
    padding:15px;
    margin:0;
    float:right;
    width:180px;
}
#menu ul{
    margin:4px 0 10px 0;
    padding:0;
    list-style:none;
    text-align:left;
}
#menu ul li{
    font-family:Georgia, "Times New Roman", Times, serif;
    margin:1em 0 0.25em 0;
    font-weight:normal;
    letter-spacing:0;
    text-transform:none;
    padding:0 0 0 13px;
}

@media (max-width: 780px) {
body {
    background:#DAE8AE;
}
#rap {
    width: auto;
    border:0;
    margin:0;
}
#header {
    margin:0;
    background: none;
}
#content {
    width: auto;
    background: none;
}
#menu {
    float: right;
}
}
